/* Target your Swiper instance ONLY */
.mySwiper.swiper {
    width: 55vw !important;
    position: relative !important;
}

.mySwiper .swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Pagination bullets */
.mySwiper .swiper-pagination-bullet {
    display: flex !important;
    background-color: white !important;
    opacity: 0.5 !important;
    bottom: -20px !important;
    position: relative; /* sometimes needed */
}
